<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace = "com.rsh.smp.dao.IBoardDAO">	

	<select id="countArticle" resultType="int">
		select count(*) from board where 
		<if test="!keyword.equals('')">
			${searchOption}  LIKE '%'||#{keyword}||'%' and 
		</if>
		kind = #{kind}
	</select>
	
	<select id="listALL" resultType="com.rsh.smp.vo.BoardVO">
	SELECT * FROM (SELECT ROWNUM as RN, A.* FROM (
		SELECT * FROM BOARD where 
			<if test="!keyword.equals('')">
				${searchOption} LIKE '%'||#{keyword}||'%' and 
				</if>
			kind = #{kind}
			ORDER BY boardnumber DESC 
		) A
	)
	WHERE RN BETWEEN #{start} AND #{end}
	</select>
</mapper>
