<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace = "com.rsh.smp.dao.ICartDAO">
	<select id="selectCartVO" parameterType="String" 
	resultType="com.rsh.smp.vo.CartVO">
		select * from cart where ${colums} = ${info} order by productnumber
	</select>
		
	<delete id="deleteCart" parameterType="String">
		<if test="colums.equals('cookienumber')">
			DELETE From cart
			WHERE ${colums} = #{number} and 
			color = #{color} and
			sizes = #{sizes}
		</if>
		<set></set>
		<if test="colums.equals('userNumber')">
			DELETE From cart
			WHERE ${colums} = ${number} and 
			color = #{color} and
			sizes = #{sizes}
		</if>
	</delete>
	
</mapper>
