<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace = "com.rsh.smp.dao.IJoinDAO">
	<select id = "selectCheckJoin" resultType="String" parameterType="String">
		select ${columnName} from users where ${columnName} = #{info}
	</select>
	
	<insert id="insertUsers" parameterType="com.rsh.smp.vo.UsersVO">
		insert into users
		(id, name, password, phone1, phone2, phone3, email, postcode, address, 
		detailaddress, agreemailcheck, agreesmscheck)
		values
		(#{id}, #{name}, #{password}, #{phone1}, #{phone2}, #{phone3}, 
		#{email}, #{postCode}, #{address}, #{detailAddress}, #{agreeEmailCheck}, 
		#{agreeSmsCheck})
	</insert>
	
</mapper>
