<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace = "com.rsh.smp.dao.ILoginDAO">
	<select id = "selectEmailIDSearch" resultType="String" parameterType="String">
		select ${colums2} from users where ${colums1} = #{name} and ${colums2} = #{email}
	</select>
	
	<select id = "selectGetUsers" parameterType="String" resultType="com.rsh.smp.vo.UsersVO">
		select * from users where ${colums} = #{info}
	</select>
	
	<select id = "selectPhoneIDSearch" resultType="String" parameterType="String">
		select ${colums1} from users where ${colums1} = #{name} and ${colums2} = #{phone1} and ${colums3} = #{phone2} 
		and ${colums4} = #{phone3}
	</select>
	
	<select id = "selectGetUsersPhone" parameterType="String" resultType="com.rsh.smp.vo.UsersVO">
		select * from users where ${colums1} = #{info1} and ${colums2} = #{info2} and ${colums3} = #{info3}
	</select>
	
	<select id = "selectEmailPasswordSearch" resultType="String" parameterType="String">
		select ${colums3} from users where  ${colums1} = #{id} and ${colums2} = #{name} and ${colums3} = #{email}
	</select>
	
</mapper>
